/* small */
@media screen and (min-width: 568px) {
    
    .logo-small {
        display: none;
    }

    .logo-large {
        display: block;
    }

    .side-bar {
        min-width: 200px;
    }

    .playlist-container {
        display: block;
    }

    .li-text  {
        display: block;
        margin-left: 1rem;
        color: var(--third_color);
        text-decoration: none;
    }
 
    .side-list a {
        display: flex;
        padding: 1rem;
        justify-content: flex-start;
    }

        
}

/* medium */
@media screen and (min-width: 768px) {
    .col_md_1-4 {
        flex-basis: calc(100%  / 4);
    }


}



/* large */
@media screen and (min-width: 992px) {
    .col_lg_1-6 {
        flex-basis: calc(100% / 6);
    }
}