/* small */
@media screen and (min-width: 568px) {
    
    .logo-small {
        display: none;
    }

    .logo-large {
        display: block;
    }

    .side-bar {
        min-width: 200px;
    }

    .playlist-container {
        display: block;
    }

    .li-text  {
        display: block;
        margin-left: 1rem;
        color: var(--third_color);
        text-decoration: none;
    }
 
    .side-list a {
        display: flex;
        padding: 1rem;
        justify-content: flex-start;
    }

    .bottom-center {
        flex-grow: 1;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

        
}

@media screen and (min-width: 668px) {
    .centerbar-progress-bg {
        height: 7px;
        min-width: 250px;
        color: white;
        border-radius: 25px;
        background-color: gray;
        justify-content: center;
        position: relative;
        margin: 0 15px;
    }

    .bottom-center-buttons a {
        color: white;
        text-decoration: none;
        margin: 1.2rem;
        font-size: 22px;
    }
}

/* medium */
@media screen and (min-width: 768px) {
    .col_md_1-4 {
        flex-basis: calc(100%  / 4);
    }


}



/* large */
@media screen and (min-width: 992px) {
    .col_lg_1-6 {
        flex-basis: calc(100% / 6);
    }
}